*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.center{
    margin: 0 auto;
}

.middleColumn{
    width: 50%;
    height: 100%;
    background-color: slateblue;
}

#messages{
    height: 90%;
    background-color: sienna;
    overflow: auto;
    width: 100%;
    position: relative;
}

#sendText{
    height: 10%;
    background-color: springgreen;
    overflow: hidden;
}

textarea{
    width: 80%;
    height: 100%;
    vertical-align: middle;
    resize: none;
    overflow: auto;
}

input{
    width: 18%;
    height: 90%;
}

.myChatBox, .othersChatBox{
    border-radius: 10%;
    padding: 5px;
    width: fit-content;
}

.myChatBox{
    background-color: teal;
}

.othersChatBox{
    background-color: darkgray;
}